.inline-input {
    width: 5rem;
    display: inline;
}

.inline-input-group {
    display: inline-flex;
    width: 7rem;
}

.calculator-section {
    width: fit-content;
    margin: 0 auto;
}

.calc-card-sm {
    width: 335px;
}

/* Bollo auto */

.no-min-width-dropdown {
    .dropdown-menu.show {
        min-width: 0;
    }
}

.fixed-button-min-width {
    min-width: 5rem;
}
