.inline-input {
    width: 5rem;
    display: inline;
}

.inline-input-group {
    display: inline-flex;
    width: 7rem;
}

.calculator-section {
    width: fit-content;
    margin: $spacer * 3 auto;

    .card {
        box-shadow: $box-shadow;
    }
}

@include media-breakpoint-up(xl) {
    .calculator-section {
        margin: $spacer * 5 auto;
    }
}

.calc-card-sm {
    width: 335px;
}

/* Bollo auto */

.no-min-width-dropdown {
    .dropdown-menu.show {
        min-width: 0;
    }
}

.fixed-button-min-width {
    min-width: 5rem;
}

/* Calculator showcase */

#calculators-showcase {
    .card:hover {
        box-shadow: $box-shadow-lg;
        border-color: transparent !important;
    }
}
