@import './custom.scss';
@import './calculators.scss';

$navbar-height-desktop: 80px;
$navbar-height-mobile: 60px;

/* Anchor */

a {
    text-decoration: none;
}

/* Hero */

.hero__container {
    text-align: center;
}

.hero__illustration {
    height: fit-content;
    width: 100%;
    margin: 0 auto;
}

@include media-breakpoint-up(md) {
    .hero__container {
        padding-top: 5rem;
    }

    .hero__illustration {
        position: relative;
        max-width: 650px;
        margin: 0 auto;
    }
}

@include media-breakpoint-up(xl) {
    .hero__container {
        position: relative;
        padding-top: 0;
        text-align: start;
        min-height: 800px;
        display: flex;
        align-items: center;

        .hero__illustration {
            position: absolute;
            top: 18%;
            right: -11%;
            left: auto;
        }

        .hero__text {
            position: relative;
            z-index: 100;
        }
    }
}
/* Global */

:root {
    scroll-behavior: unset;
}

/* Body */

@include media-breakpoint-up(lg) {
    body {
        font-size: 18px;
    }
}

/* Navbar */

.navbar {
    background-color: $white;
    box-shadow: $box-shadow-sm;
}

.navbar__nav-link {
    color: $body-color;
}

.navbar__nav-link:hover {
    color: $primary;
}

@include media-breakpoint-up(lg) {
    .navbar {
        background-color: transparent;
        box-shadow: none;
        transition: padding 0.2s, box-shadow 0.3s, background-color 0.3s;
        backdrop-filter: blur(3px);
    }

    .navbar--scrolled {
        background-color: transparentize($white, 0.1);
        box-shadow: $box-shadow-sm;
    }

    .nav__container {
        display: flex;
        padding: 0;
    }
}

/*  Dropdown */

.dropdown-item {
    font-weight: 500;
}

/* Navbar Offcanvas*/

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        height: calc(100vh - $navbar-height-mobile);
        position: fixed;
        top: calc($navbar-height-mobile - 1px);
        bottom: 0;
        left: 100%;
        width: 100%;
        overflow-y: auto;
        visibility: hidden;
        background-color: $white;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

        .dropdown-menu {
            border: none;
        }

        &.open {
            visibility: visible;
            transform: translateX(-100%);
        }
    }
}

/* Margin */

.margin-navbar {
    margin-top: $navbar-height-mobile;
}

@include media-breakpoint-up(xl) {
    .margin-navbar {
        margin-top: $navbar-height-desktop;
    }
}

/* Padding */

.padding-navbar {
    padding-top: $navbar-height-mobile;
}

@include media-breakpoint-up(xl) {
    .padding-navbar {
        padding-top: $navbar-height-desktop;
    }
}

/* Titles */

.title-xl {
    font-size: 2.5rem;
}

.title-lg {
    font-size: 2rem;
}

@include media-breakpoint-up(xl) {
    .title-xl {
        font-size: 3.5rem;
    }
}

/*  Button */

.btn-submit {
    min-width: 8rem;
}

.btn-solo-text {
    color: $primary;
    font-weight: 500;
    padding: 0;
}

.btn-solo-text:hover {
    color: tint-color($primary, 25%);
}

.btn-solo-text:focus {
    box-shadow: none;
    color: shade-color($primary, 50%);
}

.btn-outline-primary {
    background-color: $white;
}

.btn-input-group {
    @include button-variant($secondary, $input-border-color, $body-color);
}

/* Paragraph */

.paragraph-secondary {
    color: $secondary-text;
}

.paragraph-xs {
    font-size: 0.75rem;
}

.paragraph-lg {
    font-size: 1.25rem;
}

/* Input group */

// puts input field above addons
.input-group .form-control.is-invalid {
    z-index: 3;
}

/* Alerts */

.alert__message {
    width: fit-content;
    margin: 0 auto;
    bottom: 3%;
}

/* Spinner */

.spinner-md {
    width: 1.3rem;
    height: 1.3rem;
}

/* Card */

.card__link {
    padding: 0 $spacer $spacer $spacer;
}

/* Spacer */

.section-vertical-spacing {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@include media-breakpoint-up(md) {
    .section-vertical-spacing {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

/* Various */

.required {
    color: $danger;
}

.top-spacing {
    padding-top: 70px;
}
